# -----------------------------
# Node / Angular
# -----------------------------

node_modules/
.angular/
dist/
coverage/

# -----------------------------
# .NET
# -----------------------------

bin/
obj/

# -----------------------------
# Visual Studio / VS Code
# -----------------------------

.vs/
.vscode/
*.user
*.suo

# -----------------------------
# Logs
# -----------------------------

*.log

# -----------------------------
# Environment
# -----------------------------

.env

# -----------------------------
# OS files
# -----------------------------

.DS_Store
Thumbs.db

# -----------------------------
# Angular cache
# -----------------------------

.cache/

# -----------------------------
# Package lock exceptions
# (KEEP package-lock.json)
# -----------------------------